.tutor-list{
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 2px solid #cccccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    /* position: absolute; */
    margin-bottom: 4%;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    height: 280px; /* Adjust this to fit your design */
    width: 550px;
    text-align: right;
}


table {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #ffffff;
}


